*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply

**/__pycache__/

.vscode
.venv/
.playwright-cli/
examples_mp4/
ckpts

/checkpoints
/data
/logs
/outputs
/utils/debug.py
/configs/data/full.yaml
*_check/
/utils/utils_ceph.py

resize_demo_imgs.py
img_dir_to_video.py
zip_*
/output*
eval.py
eval_test/
inference_cg.py
inference_dl3dv.py
metrics/
pi3/
release_weight.py
/training/logs
/datasets
/commands.sh